{% extends 'base.html.twig' %}

{% block body %}

    <section class="menus">

        {% for menu in menus %}

            <menus>
                <h2> {{ menu.nom }} </h2>
                <div class"content">
                    {{ menu.quantite}}
                    {{ menu.prix}}
                    {{ menu.saison}}
                    {{ menu.dateMiseEnRayon | date('d/m/Y')}}
                    {{ menu.datePeremption | date('d/m/Y')}}
                </div>
                <div class"content">
                    <img src="{{ asset('/images/banana.jpg') }}" alt="2">
                </div>
                <div class"content">
                    <a href="{{ path('addLikeMenu', {'id': menu.id}) }}" class="btn btn-primary">J'aime : {{ menu.likeMenu}}</a>
                    <a href="{{ path('adddisLikeMenu', {'id': menu.id}) }}" class="btn btn-primary">Je n'aime pas : {{ menu.dislikeMenu}}</a>
                </div>
            </menus>

        {% endfor %}

    </section>

{% endblock %}